
<div mat-dialog-actions class="dialog-Header">
  <h4 *ngIf="isCreate">Create Task</h4> 
  <h4 *ngIf="!isCreate">Edit Task</h4> 
  <button mat-button (click)="onNoClick()" class="remove-Dialog">
    <img class="close-Filter" src="/assets/images/header-close.svg" />
  </button>
</div>


<div mat-dialog-content class="contetnt-Class">
      <form [formGroup]="registerTaskForm" (ngSubmit)="onSubmit()">
          <div class="form-row center">
              <div class="form-group col-6">               
                <mat-form-field 
                appearance="outline" 
                [ngClass]="{ 'is-invalid': submitted && validControls.label.errors }">
                <mat-label>Label</mat-label>
                  <input
                    type="text"
                    matInput
                    placeholder="Label"
                    [ngModel]="data.label"
                    formControlName="label"                    
                  />
                </mat-form-field>
                  <div *ngIf="submitted && validControls.label.errors" class="invalid-feedback">
                      <div *ngIf="validControls.label.errors.required">label is required</div>
                  </div>
              </div>
              <div class="form-group col-6">               
                <mat-form-field 
                appearance="outline" 
                [ngClass]="{ 'is-invalid': submitted && validControls.description.errors }">
                <mat-label>Description</mat-label>
                  <input
                    type="text"
                    matInput
                    placeholder="description"
                    [ngModel]="data.description"
                    formControlName="description"                    
                  />
                </mat-form-field>
                  <div *ngIf="submitted && validControls.description.errors" class="invalid-feedback">
                      <div *ngIf="validControls.description.errors.required">description is required</div>
                  </div>
              </div>
              <div class="form-group col-6">               
                <mat-form-field 
                appearance="outline" 
                [ngClass]="{ 'is-invalid': submitted && validControls.category.errors }">
                <mat-label>Category</mat-label>
                  <input
                    type="text"
                    matInput
                    placeholder="category"
                    [ngModel]="data.category"
                    formControlName="category"                    
                  />
                </mat-form-field>
                  <div *ngIf="submitted && validControls.category.errors" class="invalid-feedback">
                      <div *ngIf="validControls.category.errors.required">category is required</div>
                  </div>
              </div>
              <div class="form-group col-6" *ngIf="!isCreate && data.done">               
                <mat-form-field 
                appearance="outline" >
                <mat-label>Done</mat-label>
                  <input
                    type="text"
                    matInput
                    placeholder="done"
                    [ngModel]="data.done"
                    formControlName="done"                    
                  />
                </mat-form-field>
              </div>
            </div>             
          
          <div class="text-center">
              <button mat-raised-button class="btn confirm" name="save">save</button>
          </div>
      </form>
</div>