.dialogHeader {
    display: flex;
    justify-content: space-between;
    flex-direction: inherit;
    margin-bottom:0.5px;
  }

  .removeDialog{
    border: none;
    background-color: white;
  }
  mat-form-field{
      width: 100%;
  }

  ::ng-deep .mat-form-field-infix {
    padding: 0;
    border-top: 0.7em solid transparent !important;
  }
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background: white;
    border-radius: 5px;
  }
  .mat-form-field {
    font-size: inherit;
    font-weight: 400;
    // line-height: 1.5 !important;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
     margin: 0px;
  }
  ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0.4px
  }
  // ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  //   padding: 0.615em 0 0.615em 0;
  // }

  .confirm{
    width:100% ; 
    background-color: green; 
    color :white;
    margin-top:5px;
  }