
<app-search
        (outPutKeyword)="onSearchTask($event)"
></app-search>

<div class="taskList" *ngFor="let task of tasks">
    <div class="task">
      <div class="task_status">
        <mat-checkbox 
        [checked]="task.done"
        (change)="changeStatus($event.checked, task.id)"
        ></mat-checkbox>
      </div>
      <div class="task_name">
        {{task.label}}
      </div>
    </div>
    <div class="icons">
      <div class="imgIcon" (click)="editTask(task)"><img src="/assets/images/pencil-edit.svg" alt="" /></div>
      <div class="imgIcon" (click)="deleteTask(task.id)"><img src="/assets/images/delete.svg" alt="" /></div>
    </div>

</div>
