<div class="wrap">
  <div class="search">
    <div class="searchBox">
      <!-- <div class="search_title">
        <div class="search_name">Board</div>
      </div> -->
      <div class="inputDiv" style="width: 100%;">
        <input 
          style="width: 100%;"
          type="text" 
          placeholder="Search"
          (input)="onSearch($event)"
          id="search" />
        <div 
        class="search_icon" 
        (click)="onSearch(searchInfo)">
          <img src="/assets/images/search-icon.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>

