// @import '../../../styles/pallete/index.scss';



.wrap {
  width: 100%;
  margin: auto;
  border-radius: 2px;
  padding-bottom: 0;
  margin-bottom: 12px;
  border-bottom: 1px solid #e5e5e5;
  padding:5px;
}

.search {
  width: 100%;
  margin: auto;
}

.searchBox {
  display: flex;
  position: relative;
}

.search_title {
  display: flex;
  align-items: center;
  z-index: 5;
}
.search_name {
  font-size: 16px;
  font-weight: 600;
  color: #312e34;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.filter_btn {
  display: flex;
  align-items: center;
  height: 100%;
  padding-right: 24px;
}

.filter_btn:hover {
  cursor: pointer;
}


.wrap {
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  border-radius: 4px;

  .search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    height: 60px;

    .searchBox {
      display: flex;
      align-items: center;
      flex: 1;
      justify-content: space-between;
      height: 100%;

      .search_title {
        flex: 1;
        padding:20px 24px;
      }

      .inputDiv {
        // display: flex;
        // align-items: center;
        // background: #f4f6f8;
        // border-radius: 4px;
        // height: 40px;
        // padding: 0 14px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 8px 16px 8px 12px;
        gap: 8px;
        width: 405px;
        height: 40px;
        border: 1px solid #EAEBF0;
        border-radius: 4px;

        .search_icon {
          cursor: pointer;
          // margin-right: 16px;         
          color: #6F8196;
        }

        input {
          border: none;
          background-color: transparent;
          font-family: 'Inter';
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 24px;          
          color: #182939;
          opacity: 0.5;
        }
      }

      .divider {
        height: 100%;
        width: 2px ;
        background-color: #F6F5FA;
        margin-left: 28px;
        margin-right: 24px;
      }
    }
  }

}
